@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Antonio-Medium';
  src: local('Antonio-medium'), url('../fonts/antonio/Antonio-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Spartan-Bold';
  src: local('Spartan-bold'), url('../fonts/spartan/Spartan-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Spartan-Regular';
  src: local('Spartan-regular'), url('../fonts/spartan/Spartan-Regular.ttf') format('truetype');
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}